<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gifts</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="bg-slate-400 block w-full">
            <div>
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">Gifts</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
